.slide-in-from-left {
  animation: slide-in-from-left 0.3s ease-out both;
}

.slide-in-from-right {
  animation: slide-in-from-right 0.3s ease-out both;
}

@keyframes slide-in-from-left {
  0% {
    transform: translateX(-3rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-in-from-right {
  0% {
    transform: translateX(3rem);
  }
  100% {
    transform: translateX(0);
  }
}