---
import { Picture } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import type { CollectionEntry } from 'astro:content';


const { input } = Astro.props;
const event = input.data as CollectionEntry<'events'>['data'];
const { title, card_image } = event;
// heading, title, image, overlay_image, card_image, link
---
<div>
  <div class="aspect-video grid pointer-events-none select-none">
    {card_image && (
    <div>
      {card_image.background ? (
        <Picture
          src={card_image.background}
          class="row-span-full col-span-full overflow-hidden p-4 grid items-center"
          widths={[300, 600, 900]}
          formats={['avif', 'webp']}
          alt={title ?? "Event card image"}
        />
      ) : 
        card_image.background_color ? (
          <div class="row-span-full col-span-full" style={{ backgroundColor: card_image.background_color }} />
        ) : null
      }
    </div>
    <div>
      {card_image.foreground && 
        <Picture
          src={card_image.foreground}
          class="row-span-full col-span-full overflow-hidden p-4 grid items-center"
          widths={[300, 600, 900]}
          formats={['avif', 'webp']}
          alt={title ?? "Event card image"}
        />
      }
    </div>
    )}
  </div>
</div>