---
import { type CollectionEntry, getCollection } from 'astro:content';

type Props = CollectionEntry<'meetings'>;

export async function getStaticPaths() {
  const posts = await getCollection('meetings');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const post = Astro.props;
const { Content } = await post.render();
---

<div>
  TODO: Add redirect to slides
</div>
