@reference "@/styles/main.css";

.pwny-menu {
  @apply isolate bg-surface-200/70 border-2 border-surface-250 backdrop-blur-xl shadow-lg rounded-lg flex flex-col max-h-screen overflow-y-auto;
}

.pwny-menu ul {
  @apply p-1 flex flex-col gap-1;
}

.pwny-menu a,
.pwny-menu button {
  @apply drag-none w-full text-white flex flex-row grow gap-2 items-center px-1 rounded-md ring-2 ring-transparent ring-offset-0 hover:bg-surface-250 focus:outline-none focus-visible:ring-white transition-colors;
}