@reference "@/styles/main.css";

.sidebar-item {
  @apply !text-content hover:bg-surface-100 active:bg-surface-050 rounded-lg
    pr-2 py-1 flex flex-row items-center relative;
}
.sidebar-item:focus-visible {
  @apply outline-none ring-2 ring-white ring-inset;
}
.sidebar-item.active {
  @apply bg-surface-100 active:bg-surface-050;
}
.folder-arrow {
  @apply flex shrink-0 grow-0 ml-2 rotate-0;
  @apply transition-transform duration-200 ease-out;
}
@media (prefers-reduced-motion: reduce) {
  .folder-arrow {
    @apply transition-none;
  }
}
.sidebar-folder-input:checked + .sidebar-folder-label > .folder-arrow {
  @apply rotate-90;
}
.sidebar-item .indicator {
  @apply h-full w-1 self-center rounded-lg absolute bg-[var(--color-tag)];
}

.sidebar-folder-parent .sidebar-item .indicator {
  @apply transition-transform duration-200 scale-y-[0%];
}

/* Individual meetings always show indicator */
.sidebar-folder .sidebar-item > .indicator {
  @apply scale-y-[60%];
}

@media (prefers-reduced-motion: reduce) {
  .sidebar-item .indicator {
    @apply transition-none;
  }
}
/* If the folder has an active item and the folder is closed (unchecked), then highlight the folder */
.sidebar-folder-parent:has(.active) > .sidebar-folder-input:not(:checked) + .sidebar-folder-label {
  @apply bg-surface-100 active:bg-surface-050;
}
/* If the folder has an active item and the folder is closed (unchecked), then show the indicator */
.sidebar-folder-parent:has(.active) > .sidebar-folder-input:not(:checked) + .sidebar-folder-label > .indicator {
  @apply scale-y-[60%];
}

.siderbar-folder-parent {
  @apply relative;
}
.sidebar-folder-input {
  @apply absolute opacity-0;
}
.sidebar-folder-label {
  @apply cursor-pointer;
}
.sidebar-folder-input:focus-visible + .sidebar-folder-label {
  @apply ring-2 ring-white ring-inset;
}
.sidebar-folder-input ~ .sidebar-folder {
  @apply hidden h-[0] overflow-y-hidden;
}
.sidebar-folder-input:checked ~ .sidebar-folder {
  @apply flex h-auto overflow-y-visible;
}