---
import Layout from '@/layouts/Base.astro';
import { name, version } from 'package.json';
---
<Layout
  title="404 - Page not found"
  description="The page you are looking for does not exist."
>
  <h1 class="text-4xl font-bold">404 - Page not found</h1>
<pre class="font-vga leading-none whitespace-pre-wrap break-all bg-surface-050">
[    0.001337] Kernel Panic - not syncing: <span class="text-[#ff0000] font-bold">404: Page not found</span>
[    0.001658] CPU: 0 PID: 1 Comm: swapper/0 Not tainted {version} #{name}
[    0.002024] Hardware name: <span id="user-agent">QEMU Standard PC (i440FX + PIIX, 1996)</span>, BIOS 1.40.4 01/30/2020
[    0.002155] Call Trace:
[    0.002236]  dump_stack+0x69/0x8b
[    0.002329]  panic+0xe8/0x24a
[    0.002417]  navigate+0x1b4/0x1c0
[    0.002598] Kernel Offset: 0x0 from 0xffffffff81000000 (relocation range: 0xffffffff80000000-0xffffffffbfffffff)
[    0.002645] ---[ end Kernel panic - not syncing: 404: Page not found
</pre>
</Layout>

<script is:inline>
function updateUserAgent() {
  const userAgentElement = document.getElementById('user-agent');
  if (userAgentElement) userAgentElement.textContent = navigator.userAgent;
}
document.addEventListener('astro:after-swap', updateUserAgent);
updateUserAgent();
</script>