---
// const version = "3.3.3";

// Initialize the CMS object
---
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="robots" content="noindex" />
        <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
        <title>Content Manager</title>
        <!-- Include the script that builds the page and powers Decap CMS -->
    </head>
    <body>
        <script>
            import CMS from "decap-cms-app";
            CMS.init();

            CMS.registerCustomFormat('flat-json-redirects', 'json', {
                fromFile: text => {
                    const body = JSON.parse(text) as Record<string, Record<string, string>>;
                    // Now we want to transform this object into a flat object with a 'key' field
                    const value = { title: 'redirects', items: Object.entries(body).reduce((acc, [key, value] : [
                        string,
                        Record<string, string>
                    ]) => {
                        acc.push({ key, ...value });
                        return acc;
                    }, [] as Record<string, string>[]) };
                    console.dir(value);
                    return value;
                },
                toFile: (value : { items: Record<string, string>[] }) => {
                    const body = value.items.reduce((acc, { key, ...rest }) => {
                        acc[key] = rest;
                        return acc;
                    }, {} as Record<string, Record<string, string>>);
                    console.dir(body);
                    return JSON.stringify(body, null, 2);
                }
            });
        </script>

        <!-- <script is:inline src={`https://unpkg.com/decap-cms@${version}/dist/decap-cms.js`}></script> -->
        <!-- <script is:inline src="https://unpkg.com/@sveltia/cms@0.42.0/dist/sveltia-cms.js"></script> -->
    </body>
</html>
