---
import Layout from '@/layouts/Base.astro';
import Link from '$/components/Link.astro';
---
<Layout title="Events" description="Index of all SIGPwny events">
  <div class="panel max-w-prose mx-auto text-center">
    <h1>Pardon our dust</h1>
    <p>
      We are currently working on an improved events page. In the meantime, you can
      view our past events on an archive of our previous website.
    </p>
    <Link href="https://82dd9c84.sigpwny-com.pages.dev/events/" class="button btn-primary">
      View Events
    </Link>
  </div>
</Layout>