---
import Layout from '@/layouts/Base.astro';
import consts from '@/consts';
import Link from '@/components/Link.astro';
import SIGPwnyStack from '@/components/SIGPwnyStack.astro';
import { Picture } from 'astro:assets';

import imgWebHacking from '@/assets/2023-09-07-web-hacking-i.jpg';

const discordLink = consts.socialLinks?.find((link: { name: string, url: string }) => link.name === 'Discord')?.url;
---
<Layout
  title="Join"
  description="Join SIGPwny, the hacking club at UIUC!"
>
  <div class="2xl:px-40">
    <section id="join-title" class="grid gap-x-8 lg:grid-cols-2 py-8">
      <div class="flex flex-col flex-grow pb-4 basis-1/2">
        <h1>Welcome to SIGPwny!</h1>
        <p class="text-3xl mb-0">
          Come learn cybersecurity with 2000+ students, alumni, and
          professionals in our Discord server.
        </p>
        <Link href={discordLink} class="place-self-start font-bold text-xl lg:text-2xl my-3 leading-normal btn-primary">
          Join Discord
        </Link>
        <ul class="list-decimal pl-6 pt-2">
          <li>
            By joining, you agree to our club <Link href="/rules/">rules</Link>.
          </li>
          <li>
            If you are affiliated with UIUC, make sure to <a href="https://sigpwny.com/auth" target="_blank" rel="noopener noreferrer">authenticate</a> to
            receive the <span class="font-mono font-bold rounded-md bg-pwny-orange/15 px-1 text-pwny-orange">@UIUC</span> role and access club channels.
          </li>
        </ul>
      </div>
      <Picture
        src={imgWebHacking}
        alt="SIGPwny members gather for a web hacking meeting"
        class="rounded-xl pointer-events-none select-none border-surface-100 border-2 basis-1/2"
        widths={[300, 600]}
        formats={['avif', 'webp']}
      />
    </section>

    <section id="get-involved" class="py-8">
      <h1>How to Get Involved</h1>
      <p class="max-w-prose pb-4">
        SIGPwny meetings are open to all and designed to be drop-in. There are no member applications, mandatory
        meetings, or even prerequisite knowledge needed.
      </p>
      <SIGPwnyStack />
    </section>

    <section id="join-beginner" class="py-8">
      <h1>Beginner Topics</h1>
      <p>
        Learn the fundamental skills to quickly get into hacking and more
        advanced topics!
      </p>
      <!-- <CardRow cards={meeting_cards} maxFour={true} /> -->
    </section>

    <section id="join-leadership" class="py-8">
      <h1>Frequently Asked Questions</h1>
      <p class="mt-4 mb-0">
        Interested in learning more about the club? Check out our <Link href="/faq/">FAQ</Link>
        or reach out to a <span class="font-mono font-bold rounded-md bg-pwny-green/15 px-1 text-pwny-green">@Helper</span> on Discord!
      </p>
    </section>
  </div>
</Layout>