---
import Layout from '@/layouts/Base.astro';
---
<Layout
  title="Meetings"
  description="Index of SIGPwny meetings"
>
  <div class="flex flex-col mx-auto page-width-lg pb-8">
    <h1>Meetings</h1>
    <nav>
      <span>TODO: Select Semester</span>
    </nav>
    <slot />
  </div>
</Layout>