.card {
  @apply
    bg-surface-100
    border-surface-150
    border-2
    text-text
    rounded-xl
    isolate
    overflow-hidden
    relative
    bottom-0
    right-0
    leading-5
    grow
    duration-100;
}
.card-hover:hover .card {
  box-shadow: 14px 14px var(--color-primary);
  bottom: 7px;
  right: 7px;
}