---
import { getMeetings } from '@/utils/meetings';

export async function getStaticPaths() {
  const meetings = await getMeetings();
  return meetings.map((meeting) => ({
    params: { slug: meeting.id },
    props: meeting,
  }));
}

const meeting = Astro.props;
---

<div>
  TODO: Add redirect to slides
</div>
