---
import Layout from '@/layouts/MeetingIndex.astro';
import MeetingRow from '@/components/Meeting/Row.astro';
import MeetingControls from '@/components/Meeting/Controls';
import {
  getSemesterToMeetingsMap,
  formatSemester,
} from "@/utils/meetings";

const semesterToMeetingsMap = await getSemesterToMeetingsMap();
---
<Layout>
  <MeetingControls client:load />
  <div class="panel">
    {Array.from(semesterToMeetingsMap.entries()).map(([semester, meetings]) => (
      <div id={semester}>
        <p class="font-bold text-2xl m-0">
          {formatSemester(semester)}
        </p>
        <hr class="border-surface-200" />
        <ul class="flex flex-col pb-2">
          {meetings.map((meeting) => (
            <MeetingRow input={meeting} />
          ))}
        </ul>
      </div>
    ))}
    {/* <span>
      <Tooltip.Day client:load transition:persist />
      <Tooltip client:load transition:persist />
      <Tooltip.Link client:load transition:persist />
      <Tooltip.Profile client:load transition:persist />
    </span> */}
  </div>
</Layout>
