---
import Layout from '@/layouts/Base.astro';
import Link from '@/components/Link.astro';
import MeetingRow from '@/components/Meeting/Row.astro';
import MeetingTime from '@/components/Meeting/Time.astro';

import {
  convertDate,
  getMeetings,
  formatSemester,
  weekNumber
} from "@/utils/meetings";

const rawMeetings = (await getMeetings()).sort(
  (a, b) => b.data.time_start.valueOf() - a.data.time_start.valueOf()
);

type MeetingType = typeof rawMeetings[0];

const meetingsBySemester = rawMeetings.reduce(
  (acc, meeting) => {
    const semester = meeting.data.semester;
    if (acc[semester]) {
      acc[semester].push(meeting);
    } else {
      acc[semester] = [meeting];
    }
    return acc;
  }, {} as {[semester: string]: MeetingType[]}
);
---
<Layout
  title="Meetings"
  description="Index of all SIGPwny meetings"
>
  <section id="meetings" class="pb-8">
    <div class="flex flex-col mx-auto page-width-lg">
      <h1>Meetings</h1>
      <span class="rounded-md border-2 border-red-500 bg-red-600 px-2 py-1 mb-2 max-w-fit">
        We are still finalizing our meeting schedule and room reservations for Fall 2024. Check <Link href="/discord" class="!text-white !underline">Discord</Link> for updates!
      </span>
      <p class="text-lg font-bold m-0">
        For Fall 2024:
      </p>
      <div class="flex flex-col md:flex-row md:gap-4 pb-3">
        <MeetingTime
          time="Thursdays, 6–7 PM"
          location="Location: TBD"
        />
        <MeetingTime
          time="Sundays, 2–3 PM"
          location="Location: TBD"
        />
      </div>
      <p class="max-w-prose pb-2">
        General meetings are held weekly in-person and online on Zoom.
        Recordings are posted on our <Link href="https://www.youtube.com/@sigpwny">YouTube</Link>.
        See the schedule below for specific meeting details.
      </p>
      <div class="panel">
        {Object.entries(meetingsBySemester).map(([semester, meetings]) => (
          <div id={semester}>
            <p class="font-bold text-2xl m-0">
              {formatSemester(semester)}
            </p>
            <hr class="border-surface-200" />
            <ul class="flex flex-col pb-2">
              {meetings.map((meeting) => (
                <MeetingRow input={meeting} />
              ))}
            </ul>
          </div>
        ))}
        <!-- <span>
          <Tooltip.Day client:load transition:persist />
          <Tooltip client:load transition:persist />
          <Tooltip.Link client:load transition:persist />
          <Tooltip.Profile client:load transition:persist />
        </span> -->
      </div>
    </div>
  </section>
</Layout>