---
import Layout from '@/layouts/Base.astro';
import { getCollection } from "astro:content";

const rawEvents = await getCollection('events')
---

<Layout title="Home">
	<h1>Events</h1>
	<ul>
		{rawEvents.map((event) => (
			<li>
				<a href={`/events/${event.slug}`}>{event.data.title}</a>
			</li>
		))}
	</ul>
</Layout>