#back-button {
    color: var(--icons);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#back-button:hover {
    color: var(--icons-hover);
}

@media (max-width: 768px) {
    #back-button-text {
        display: none;
    }
}