name: CI/CD (fallctf.com)
on:
  push:
    paths:
      - '_global/**'
      - '!_global/content/**'
      - '_global/content/events/**'
      - '_global/content/profiles/**'
      - '.github/**'
      - 'fallctf.com/**'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
env:
  CI: true
  CI_WORKING_DIR: fallctf.com
  CI_BUILD_DIR: dist
  CI_CACHE_DIR: .cache
jobs:
  deploy:
    name: Deploy (fallctf.com)
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - name: Build site
        uses: ./.github/actions/build-astro
        with:
          working-directory: ${{ env.CI_WORKING_DIR }}
          build-directory: ${{ env.CI_BUILD_DIR }}
          cache-directory: ${{ env.CI_CACHE_DIR }}

      - name: Deploy to Cloudflare
        if: github.actor != 'dependabot[bot]'
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_PAGES_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy ${{ env.CI_BUILD_DIR }} --project-name=${{ vars.CLOUDFLARE_PROJECT_NAME_FALLCTF }}
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          workingDirectory: ${{ env.CI_WORKING_DIR }}
